ul{
    font-size:30px
}
h1{
    color: blue;
    font-size:50px;
    text-align: center;
}
.txt1{
    font-size: 30px;
    text-align:justify;
}
.titilo{
    color: blueviolet;
    font-size: 50px;
    text-align: center;
}
.parrafos{
    color: #A31212;
    text-align: justify;
    font-size: 30px;
}